

/* 640-less    - phone landscape & smaller */
@media all and (max-width: 640px) {
.hero {
    width: 100%;
    height: 700px;
    margin-top: -100px;
    background-image: url("/resources/assets/home/mobile/image-header.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

 .wide-spacing {
    letter-spacing: 10px; /* Adjust the value based on your preference */
  }

 
}




/*  1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1180px) {
  .hero {
    width: 100%;
    height: 800px;
    margin-top: -100px;
    background-image: url("/resources/assets/home/tablet/image-header.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

 .wide-spacing {
    letter-spacing: 10px; /* Adjust the value based on your preference */
  }
}







@media all and (min-width: 1024px) {
   .hero {
    width: 100%;
    height: 520px;
    margin-top: -100px;
    background-image: url("/resources/assets/home/desktop/image-hero.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

 .wide-spacing {
    letter-spacing: 10px; /* Adjust the value based on your preference */
  }
}


@media all and (min-width: 1280px) {
   .hero {
    width: 100%;
    height: 650px;
    margin-top: -100px;
    background-image: url("/resources/assets/home/desktop/image-hero.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

 .wide-spacing {
    letter-spacing: 10px; /* Adjust the value based on your preference */
  }
}


@media all and (min-width: 1536px) {
   .hero {
    width: 100%;
    height: 810px;
    margin-top: -100px;
    background-image: url("/resources/assets/home/desktop/image-hero.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

 .wide-spacing {
    letter-spacing: 10px; /* Adjust the value based on your preference */
  }
}



/* HOME CATEGORY */
@media all and (max-width: 640px) {
 .orange-container {
    height: 600px;
  }

  .speaker{
    left: 70px;
    top: 50px;
  }

  .inner-oval{
    left: 20px;
    top: 20px;
  }

  .outer-oval{
    left: 2px;
  }


  .speaker-detail{
    bottom: 60px;
    left: 30px;
  }

  .orange-container-2 {
    width: 95;
    height: 300px;
    background-image: url("/resources/assets/home/mobile/image-speaker-zx7.jpg");
    background-size: contain; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
  }
  }

  @media screen and (min-width: 414px) and (min-height: 846px) {
  /* Your styles for this screen size */
   .speaker{
    left: 90px;
    top: 50px;
  }

  .inner-oval{
    left: 40px;
    top: 20px;
  }

  .outer-oval{
    left: 20px;
  }


  .speaker-detail{
    bottom: 60px;
    left: 30px
}

  }



